{
  "presets": [
    "react",
    [
      "env",
      {
        "targets": {
          "chrome": 56
        },
        "modules": false,
        "loose": false
      }
    ]
  ],
  "plugins": [
    [
      "transform-class-properties",
      {
        "spec": true
      }
    ],
    "transform-flow-strip-types",
    "transform-object-rest-spread",
    "react-hot-loader/babel"
  ]
}
